* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 500px;
    border:  1px solid #eee;
    border-radius: 3px;
    padding: 20px;
    display: flex;  
    flex-direction: column;
}

button {
    background: green;
    font-weight: bold;
    color: white;
    padding: 5px 15px;
    border: 0px;
    border-radius: 5px;
    margin: 0 3px;
    cursor: pointer;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input {
    padding: 5px 15px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}

form input {
    flex: 1;
    margin-right: 15px;
}
ul {
    padding: 0;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

li p {
    flex: 1;
}

li .todo {
    background: rgb(45, 145, 60);
    flex: 0 0 20px;
    height: 20px;
    border-radius: 30px;
    margin-right: 15px;
}

li .todo.done {
    background: #333;
}